<div id="restore_form" class="rounded corners restor_confirm_form">
  <h1><%= t(:type_new_message)%> </h1>
  <% form_tag(:action => 'do_change_password') do %>
    <%= hidden_field_tag :rh, @hash %>
  <span <%if flash[:notice] && !flash[:notice].empty? %> id="global_error" class="restor_confirm_notification"<%end%>><%= flash[:notice] %></span>
  <table class="restore_confirmation">
            <tr>
        <td class="label">
          <%= label_tag :name, tf(User, :password) %>
        </td>
        <td><%= password_field_tag :password, "", {:class => "text" ,:size=>"35"} %></td>
      </tr>
      <tr>
        <td class="label"><%= label_tag :name, tf(User, :confirm_password) %></td>
        <td>
          <%= password_field_tag :confirm_password, "", {:class => "text" ,:size=>"35"}%>
        </td>
        <td id="email_icon"></td>
      </tr>
      <tr>
        <td id="submit" colspan="2">
          <%= submit_tag(tg(:ok), :class=>"small_submit", :name => nil) %>
        </td>
      </tr>
    </table>
  <%end%>
</div>
