<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= tg(:app_title) %></title>
  </head>
  <body>
    <p>Hello  <%= @name %>,</p>

    <p>Thank you for registering at www.7wizards.com, the hi-end social game for everybody who loves magic.</p>

    <p>To activate your account and gain full access, click here: <a href="<%=@url%>"><%=@url%></a></p>

    <p>If you registered accidentally or someone has used your e-mail, just click here <a href="<%=@unsubscribe_url%>">unsubscribe</a>.</p>

    <p>Please do not reply to this email. If you have any questions, email us at support@7wizards.com </p>

    <p>Thank you again, <br/> Sincerely, 7wizards.com Support Team </p>

  </body>
</html>