<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= tg(:app_title) %></title>
  </head>
  <body>

    <p>Hello Wizard, <%= @name %></p>

    <p>If you've received this letter it means that there was a request on your name to get accounts password. If you didn't send the request, please ignore this letter.</p>

    <p>To restore password click below</p>
    <p><a href="<%=@url%>"><%=@url%></a></p>

    <p>Please do not reply to this email. If you have any questions, email us at support@7wizards.com</p>
    <p><a href="<%=@unsubscribe_url%>">To unsubscribe click here</a></p>
  </body>
</html>