<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= tg(:app_title) %></title>
  </head>
  <body>
    <%= tf(User, :name) %>: <%= @login %>
    <%= tf(User, :password) %>: <%= @password %>

  </body>
</html>

