<%if @changed %>
  <%= t(:description) %>
<div class="clear" style="margin-top: 10px;"> <%= link_to tg(:ok), "javascript:void(0)", :id => "close_btn",:class=>"close_button", :onclick => "javascript: dialog.close()"%></div>
<%else%>

  <% form_ajax_for(@user, :url => account_path(:action => :do_change_password)) do |f|%>
    <table class="popap_form">
      <tr>
        <td style="text-align: left"> <%= label_tag :old_password, t(:old_password) %></td>
        <td> <%= password_field_tag :password, ""%></td>
      </tr>
      <tr>
        <td style="text-align: left"> <%= f.label :password, tf(User, :password)%></td>
        <td> <%= f.password_field :password %></td>
      </tr>
      <tr>
        <td style="text-align: left"><%= f.label :password_confirmation, tf(User, :confirm_password) %></td>
        <td> <%= f.password_field :password_confirmation %></td>
      </tr>
    </table>
    <div class="bottom_popap">
      <%= f.submit(t(:change_password),:class =>"small_submit") %>
      <%= link_to tg(:cancel), "javascript:void(0)", :id => "close_btn",:class=>"close_button", :onclick => "javascript: dialog.close()"%>
    </div>

    <%end%>

  <%end%>
