<div id="columns_narrow_wide">

  <div id="col_left">
    <%= render :partial => "menu" %>
  </div>

  <div id="col_right" >
    <div class="main_col_content" id="hall_glory">
      <div class="visibl">
        <h1 class="category_title_shop"><%= tv(:top_wizards) %> </h1>
        <div class="bes_search avatal_imag_list">
          <% form_ajax_tag(:url => respect_path(:action => :index)) do %>
            <%= select_custom_tag(:order_best, options_for_select([[tg(:by_fame), "f"],
                  [tg(:by_level), "l"], [tg(:by_mana_won), "m"], [tg(:by_damage), "d"],
                  [tg(:by_girls), "gf"], [tg(:by_boys), "gm"], [tg(:by_online), "o"],
                  [tg(:by_dragon_damage), "dr"]], @order)) %>
            <%= submit_tag tg(:search), :name => nil, :class => "small_submit", :id => :best_submit %>
            <%= text_field_custom_tag :name, @name, {:class => "text login_pass_input"}, respect_path %>
          <%end%>

          <div class="equipment_slot avatars_list">
            <% @user.each do |user| %>
              <ul class="gifts  information_tips_block avatar_litt_block">
                <li class="li_avas" style="z-index: 2">
                  <%= user_image(user, false, :link => true, :height => 111, :width => 104) %>
                  <span  style="width: 10px; height: 10px;padding-top:4px;">
                    <%= is_online_image_tag(user) %>
                  </span>
                  <span class="user_name"> <%= user_name(user)%> </span>
                  <ul class="no_padding">
                    <li class="tips tips_avatar" >
                      <ul class="no_padding">
                        <li><b class="hint_titel"><%= user_link(user) %></b></li>
                        <li><%= tf(User, :rating) %>: <%= user.rating %></li>
                        <li><%= tf(User, :a_level) %>: <%= user.a_level %></li>
                        <li><%= tf(User, :a_reputation) %>: <%= user.a_reputation %></li>
                        <li><%= tf(User, :s_loot_money) %>: <%= user.s_loot_money %></li>
                        <li><%= tf(User, :s_total_damage) %>: <%= user.s_total_damage %></li>
                        <li><%= tf(User, :g_achivement_dragons) %>: <%= user.g_achivement_dragons %></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            <%end%>
            <div class="clear"></div>
          </div>
        </div>
        <div class="clear"></div>
        <%= paginate(@user, :params=>{:name => @name, :order_best => @order}) %>
        <div class="clear"></div>
      </div>

      <div class="main_col_bg"></div>
      <div class="main_col_border_bottom"></div>
      <div class="main_col_border_top"></div>
    </div>
  </div>

</div>
<div class="clear"></div>

<script type="text/javascript">
  Element.observe('order_best', 'change', function(){
    $('best_submit').click();
  });
  wizards.controls.init();
</script>