<tr>
  <td><%= game_item_image_tag item %></td>
  <td class="col_desc"><b><%= item.title user %></b><br/>

    <%
      price = item.get_price(user)
      active = item.is_active? @user
    %>

    <%= item.description user %><br/>


    <%= t :during, :time => tg(:hours, :count => item.time.seconds_to_hours) %>
    <br/>
    <% if active %>
      <%= tg :expire_date, :date => d(item.get_expire_date(@user)) %>
    <% end %>
  </td>
  <td class="price">
    <% if price.has_money_price? %>
      <%= price_tag(:price => price.price) %>
    <% end %>
    <% if price.has_staff_price? %>
      <%= price_tag(:price_staff => price.price_staff) %>
    <% end %>
  </td>
  <td class="little_button">
    <table class="table_little_buttons" >
      <tr>
        <td ><%= link_to_ajax active ? tg(:extend) : tg(:activate), :url => shop_path(:action => "extend_powerup", :g => item.key) %></td>
      </tr>
    </table>
  </td>
</tr>
