<div id="columns_narrow_wide">
  <div id="col_left">
    <%= render :partial => "menu" %>
  </div>
  <div id="col_right" >
    <div class="main_col_content" id="mail">
      <div id="messages_list" class="<%if !@selected_fight %><%end%> fight_log_rozgr">

        <% if @selected_fight %>
          <div id="fight_result_scale">
            <%if @selected_fight.dragon%>
              <%= render :partial => "wizards/dragon/fight_result", :locals => {:log => @selected_fight, :user => @user} %>
            <%else%>
              <%= render :partial => "wizards/fight/fight_result", :locals => {:log => @selected_fight, :user => @user} %>
            <%end%>
          </div>
        <%else%>

          <h1 class="category_title_shop"><%= t(:title) %></h1>

          <div class="bes_search">
            <table class="content_up table" cellpadding="0" cellspacing="0">
              <tr class="tableWidth">
                <th scope="col" class="index_cell"></th>
                <th scope="col" style="width: 460px;"><%= tf(Message, :title) %></th>
                <th scope="col" ><%= tg(:date_title) %></th>
              </tr>

              <% @fights.each_with_index do |fight_log, index|%>
                <tr>
                  <td class="index_cell"><%= paginate_index(@page, index) %></td>

                  <% if fight_log.extra == "w" %>
                    <% message_class = "green_win" %>

                  <%else%>
                    <% message_class = "red" %>
                  <%end%>

                  <td>
                    <%= link_to_ajax(fight_log.title, {:url => mail_path(:action => :fight_logs, :id => fight_log.detail, :page => @page)}, :class => message_class) %>
                  </td>
                  <td style="text-align: left"><%= d fight_log.created_at%></td>
                </tr>

              <%end%>

            </table>
          </div>
          <div class="clear"></div>
          <%= paginate @fights %>
          <div class="clear"></div>
        <%end%>
        <%= link_to_top tg(:scroll_top)%>
      </div>


      <div class="main_col_bg"></div>
      <div class="main_col_border_bottom"></div>
      <div class="main_col_border_top"></div>
    </div>
  </div>
  <div class="clear"></div>
</div>
