<h1><%= t :title%></h1>

<% form_for :user, @user, :url => { :action => :process_edit, :id => @user.id } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= tf(@user, :name) %><br />
    <%= h @user.name %>
  </p>
  <p>
    <%= f.label :confirmed_email, tf(@user, :confirmed_email) %><br />
    <%= f.check_box :confirmed_email %>
  </p>
  <p>
    <%= f.label :email, tf(@user, :email) %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :description, tf(@user, :description) %><br />
    <%= f.text_area :description, :rows => 5 %>
  </p>
  <p>
    <%= f.label :attacker_message, tf(@user, :attacker_message) %><br />
    <%= f.text_area :attacker_message, :rows => 5 %>
  </p>
  <p>
    <%= f.label :comments, tf(@user, :comments) %><br />
    <%= f.text_area :comments, :rows => 5  %>
  </p>
  <p>
    <%= f.label :is_moderator, tf(@user, :is_moderator) %><br />
    <%= f.check_box :is_moderator %>
  </p>
  <p>
    <%= f.submit tg(:save) %>
  </p>
<% end %>
<%= link_to tg(:cancel), :action => :show, :id => @user.id %>