<div id="footer-wrapper">
  <div>
    <p><%= t(:copyrights) %></p>
    <%= link_to t(:privacy_policy), "/static/privacy.html", :target => "blank", :class => "active_always" %>
    <%= link_to t(:therms_and_conditions), "/static/terms.html", :target => "blank", :class => "active_always" %>
    <%= link_to t(:rules_of_conduct), "/static/rulles.html" , :target => "blank", :class => "active_always" %>
    <%= link_to "Blog", game_url(:blog), :target => "blank"%>
  </div>
</div>
